.app.dark {
  --bg-color: rgb(1, 1, 20);

  --primary-color: rgb(14, 197, 14);
  --secondary-color: rgb(51, 207, 147);
  --inverted-primary-color: rgb(63, 117, 235);
  --inverted-secondary-color: rgb(14, 73, 151);

  --navbar-bg: #303030;
}
