:root {
  --bg-color: rgb(233 233 233);
  --primary-color: rgb(63 117 235);
  --secondary-color: rgb(14 73 151);
  --inverted-primary-color: rgb(14 197 14);
  --inverted-secondary-color: rgb(51 207 147);
  --navbar-bg: rgb(217 217 217);
}
