.Navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--navbar-height);
  padding: 25px 50px;
  background-color: var(--navbar-bg);

  & > .Links>:not(:last-child) {
    margin-right: 15px;
  }
}
